body {
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  line-height: calc(18 / 14);
  color: var(--primary-color);
  background-color: var(--primary-bg);
}

.main__container {
  display: flex;
  flex-direction: column-reverse;
  gap: 40px;
  padding-top: 40px;
  padding-bottom: 40px;

  @media screen and (min-width: $tablet) {
    gap: 100px;
  }

  @media screen and (min-width: $desktop) {
    flex-direction: row-reverse;
    gap: 40px;
  }
}

.container {
  max-width: $mobile;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @media screen and (min-width: $tablet) {
    max-width: $tablet;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: $desktop) {
    max-width: $desktop;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.categories-section {
  flex-grow: 1;
  padding-bottom: 40px;

  @media screen and (min-width: $tablet) {
    padding-bottom: 60px;
  }
}

.shopping-list-section {
  flex-grow: 1;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    gap: 32px;
  }

  @media screen and (min-width: $desktop) {
    flex-direction: column;
    gap: 86px;
    width: 356px;
  }

  &--is-hide {
    display: none;

    @media screen and (min-width: $desktop) {
      display: flex;
    }
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
