<li class="card">
  <div class="card__img-thumb">
    <img
      class="card__img"
      src="../src/images/shopping-list/test.jpg"
      alt="Book cover"
    />
  </div>

  <div class="card__descr">
    <h2 class="card__title">I will find you</h2>
    <p class="card__subtitle">Hardcover fiction</p>
    <p class="card__text">
      David Burroughs was once a devoted father to his three-year-old son
      Matthew, living a dream life just a short drive away from the
      working-class suburb where he and his wife, Cheryl, first fell in
      love--until one fateful night when David woke suddenly to discover Matthew
      had been murdered while David was asleep just down the hall.
    </p>

    <div class="author">
      <p class="author__name">Harlan Coben</p>

      <ul class="shops list">
        <li class="shop__item shop__item--amazon">
          <a class="shop__link link" href="https://www.amazon.com/">
            <img
              class="shop__icon"
              src="../src/images/shopping-list/icons/icon-amazon.png"
              alt=""
          /></a>
        </li>

        <li class="shop__item shop__item--book">
          <a class="shop__link link" href="#">
            <img
              class="shop__icon"
              src="./images/shopping-list/icons/icon-book.png"
              alt=""
            />
          </a>
        </li>

        <li class="shop__item shop__item--bookshop">
          <a class="shop__link link" href="#">
            <img
              class="shop__icon"
              src="./images/shopping-list/icons/icon-bookshop.png"
              alt=""
            />
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div type="button" class="card__delete-btn">
    <img
      class="delete-btn__icon"
      src="../src/images/shopping-list/dump.svg"
      alt="Delete icon"
    />
  </div>
</li>