<h2 class="section-title container" >
  Hardcover <span class="section-title__akcent">Fiction</span>
</h2>
<ul class="section-book container">
  <li class="section-book__list">
    <div class="single-category">
      <div class="book-element__thumb">
        <svg class="book-element__icon" width="88px," height="80px">
          <use href="/src/images/icons.svg#icon-book"></use>
        </svg>
      </div>
      <h3 class="book-element__title">Title book</h3>
      <p class="book-element__author">Author of the book</p>
    </div>
  </li>
</ul>
