<div class="pagination is-hidden">
  <div class="pagination__arrows">
    <button class="pagination__btn arrow" disabled>
      <svg class="pagination__arrow-icon pagination__arrow-icon--double">
        <use href="./images/icons.svg#icon-double-angle-left"></use>
      </svg>
    </button>
    <button class="pagination__btn arrow" disabled>
      <svg class="pagination__arrow-icon">
        <use href="./images/icons.svg#icon-angle-left"></use>
      </svg>
    </button>
  </div>

  <div class="pagination__pages">
    <button
      class="pagination__btn pagination__btn-page pagination__btn--active"
    >
      1
    </button>
    <button class="pagination__btn pagination__btn-page">2</button>
  </div>

  <div class="pagination__arrows">
    <button class="pagination__btn arrow">
      <svg class="pagination__arrow-icon">
        <use href="./images/icons.svg#icon-angle-right"></use>
      </svg>
    </button>
    <button class="pagination__btn arrow">
      <svg class="pagination__arrow-icon pagination__arrow-icon--double">
        <use href="./images/icons.svg#icon-double-angle-right"></use>
      </svg>
    </button>
  </div>
</div>

<div id="tui-pagination-container" class="tui-pagination"></div>
