<div class="pagination is-hidden js-pagination">
  <div class="pagination__arrows">
    <button class="pagination__btn arrow arrow-first" value="first" disabled>
      <svg class="pagination__arrow-icon pagination__arrow-icon--double">
        <use href="./images/icons.svg#icon-double-angle-left"></use>
      </svg>
    </button>
    <button class="pagination__btn arrow arrow-prev" value="prev" disabled>
      <svg class="pagination__arrow-icon">
        <use href="./images/icons.svg#icon-angle-left"></use>
      </svg>
    </button>
  </div>

  <ul class="pagination__pages list js-pages-container">
    <li>
      <button
        class="pagination__btn pagination__btn-page pagination__btn--active"
        value="1"
      >
        1
      </button>
    </li>
    <li>
      <button class="pagination__btn pagination__btn-page" value="2">2</button>
    </li>
  </ul>

  <div class="pagination__arrows">
    <button class="pagination__btn arrow arrow-next" value="next">
      <svg class="pagination__arrow-icon">
        <use href="./images/icons.svg#icon-angle-right"></use>
      </svg>
    </button>
    <button class="pagination__btn arrow arrow-last" value="last">
      <svg class="pagination__arrow-icon pagination__arrow-icon--double">
        <use href="./images/icons.svg#icon-double-angle-right"></use>
      </svg>
    </button>
  </div>
</div>
