<section class="shopping-list">
  <div class="shopping-list__container container">
    <!-- Sidebar -->
    <aside class="sidebar">Support Ukraine</aside>

    <div class="shopping-list__wrapper">
      <h1 class="shopping-list__title">
        Shopping <span class="shopping-list__title--accent">List</span>
      </h1>

      <div class="shopping-list__box">
        <!-- Cards list -->
        <ul class="shopping-list__cards list">
          <!-- Card -->
        </ul>
        <!-- Plug -->
        <div class="plug">
          <p class="plug__text">
            This page is empty, add some books and proceed to order.
          </p>
          <div class="plug__img"></div>
        </div>

        <include src="./partials/shopping-list/paginator.html"></include>
      </div>
    </div>
  </div>
</section>
