<form action="#" class="sign-in-form user-form hidden">
  <button type="button" class="user-form__close-button">
    <svg class="user-form__close-icon" width="28" height="28">
      <use href="images/icons.svg#icon-cross"></use>
    </svg>
  </button>

  <div class="user-form__input-container user-form__email-input-container">
    <input
      type="text"
      class="user-form__input"
      id="sign-in-email"
      placeholder=" "
      autocomplete="off"
      name="email"
    />
    <label for="sign-in-email" class="user-form__input-label">Email</label>
    <svg class="user-from__icon" width="28" height="28">
      <use href="images/icons.svg#icon-mail"></use>
    </svg>
  </div>
  <div class="user-form__input-container user-form__password-input-container">
    <input
      type="password"
      class="user-form__input"
      id="sign-in-password"
      placeholder=" "
      autocomplete="off"
      name="password"
    />
    <label for="sign-in-password" class="user-form__input-label"
      >Password</label
    >
    <svg class="user-from__icon" width="28" height="28">
      <use href="images/icons.svg#icon-lock"></use>
    </svg>
    <div class="password-bar strong visually-hidden"></div>
    <div class="password-message"></div>
  </div>

  <button
    type="submit"
    class="user-form__sign-in-button user-form__submit-button"
  >
    Sign in
  </button>
  <ul class="user-form__form-type-switch form-type-switch">
    <li class="form-type-switch__item">
      <a href="#" class="form-type-switch__link" data-form-type="sign-up"
        >Sign up</a
      >
    </li>
    <li class="form-type-switch__item">
      <a href="#" class="form-type-switch__link active" data-form-type="sign-in"
        >Sign in</a
      >
    </li>
  </ul>
</form>
