<div class="backdrop is-hidden" data-popup>
    <div class="popup">
        <button class="modal__close" data-popup-close>
        <svg class="modal__close--icon" width="24" height="24">
                <use href="/src/images/icons.svg#icon-cross"></use>
            </svg>
        </button>
        <div class="book-card">
          <div class="thumb">
            <a class="book-link js-link" href="${amazon_product_url}">
                <img class="image" src="${book_image}" alt="${tags}" loading="lazy" />
            </a>
          </div>
          <div class="info">
            <p class="book-name">${list_name}</p>
            <p class="book-author">${author}</p>
            <p class="book-description">${description}</p>
           <ul>
            <li></li>
            <li></li>
            <li></li>
           </ul>
          </div>
        </div>
    </div>
</div>