<article class="support">
  <h2 class="support__title">
    Support Ukraine
    <svg class="support__slide--icon">
      <use
        href="/src/images/icons.svg#icon-trident"
        fill="#fff"
        width="20"
        height="32"
      ></use>
    </svg>
  </h2>
  <div class="swiper swiper-container founds-slider">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper founds-list">
      <!-- Slides -->
      <div class="swiper-slide">
        <a class="support__founds--style" href="">
          01
          <img
            class="support__founds--icon"
            src="./images/founds-icon/found-1.png"
            alt=""
          />
        </a>
      </div>
      <div class="swiper-slide">
        <a class="support__founds--style" href="">
          02
          <img
            class="support__founds--icon"
            src="./images/founds-icon/found-2.png"
            alt=""
          />
        </a>
      </div>
      <div class="swiper-slide">
        <a class="support__founds--style" href="">
          03
          <img
            class="support__founds--icon"
            src="./images/founds-icon/found-3.png"
            alt=""
          />
        </a>
      </div>
      <div class="swiper-slide">
        <a class="support__founds--style" href="">
          04
          <img
            class="support__founds--icon"
            src="./images/founds-icon/found-4.png"
            alt=""
          />
        </a>
      </div>
      <div class="swiper-slide">
        <a class="support__founds--style" href="">
          05
          <img
            class="support__founds--icon"
            src="./images/founds-icon/found-5.png"
            alt=""
          />
        </a>
      </div>
      <div class="swiper-slide">
        <a class="support__founds--style" href="">
          06
          <img
            class="support__founds--icon"
            src="./images/founds-icon/found-6.png"
            alt=""
          />
        </a>
      </div>
      <div class="swiper-slide">
        <a class="support__founds--style" href="">
          07
          <img
            class="support__founds--icon"
            src="./images/founds-icon/found-4.png"
            alt=""
          />
        </a>
      </div>
      <div class="swiper-slide">
        <a class="support__founds--style" href="">
          08
          <img
            class="support__founds--icon"
            src="./images/founds-icon/found-2.png"
            alt=""
          />
        </a>
      </div>
      <div class="swiper-slide">
        <a class="support__founds--style" href="">
          09
          <img
            class="support__founds--icon"
            src="./images/founds-icon/found-5.png"
            alt=""
          />
        </a>
      </div>
    </div>

    <!-- If we need navigation buttons -->
  </div>
  <div class="swiper-button">
    <svg class="support__button--icon">
      <use
        href="/src/images/icons.svg#icon-angle-down"
        width="20"
        height="20"
      ></use>
    </svg>
  </div>
</article>
