<article class="support">
  <h2 class="support__title">
    Support Ukraine
    <svg class="support__slide--icon">
      <use
        href="/src/images/icons.svg#icon-trident"
        fill="#fff"
        width="20"
        height="32"
      ></use>
    </svg>
  </h2>
  <div class="swiper swiper-container founds-slider js-founds-slider">
    <!-- Additional required wrapper -->

    <!-- If we need navigation buttons -->
  </div>
  <div class="swiper-button">
    <svg class="support-button__icon">
      <use
        href="/src/images/icons.svg#icon-angle-down"
        width="20"
        height="20"
      ></use>
    </svg>
  </div>
</article>
