<article class="support">
  <h2 class="support__title">
    Support Ukraine
    <svg class="support__slide--icon">
      <use
        href="/src/images/icons.svg#icon-trident"
        fill="#fff"
        width="20"
        height="32"
      ></use>
    </svg>
  </h2>
  <div class="swiper swiper-container founds-slider js-founds-slider"></div>
  <div class="swiper-button">
    <svg class="support-button__icon" width="22px" height="22px">
      <use href="/src/images/icons.svg#icon-angle-down"></use>
    </svg>
  </div>
</article>
