.dark {
  --primary-bg: #202024;
  --secondary-bg: #111111;

  --primary-color: #ffffff;
  --secondary-color: #111111;

  --logo-color: #f3f3f3;

  --list-category-accent-text: #eac645;
  --list-category-text: rgba(255, 255, 255, 0.6);

  --scroll: rgba(17, 17, 17, 0.6);

  --shopping-list-text: rgba(255, 255, 255, 0.6);

  --pop-up-info-text: rgba(255, 255, 255, 0.5);
  --form-button-color: #202024;

  // &book__sales-icon.amazon {
  //   filter: invert(100%)
  // }
}