.light {
  --primary-bg: #f6f6f6;
  --secondary-bg: #ffffff;

  --primary-color: #111111;
  --secondary-color: #ffffff;

  --logo-color: #000000;

  --list-category-accent-text: #4f2ee8;
  --list-category-text: rgba(17, 17, 17, 0.6);

  --scroll: #e0e0e0;

  --shopping-list-text: rgba(0, 0, 0, 0.6);

  --pop-up-info-text: rgba(17, 17, 17, 0.5);
}
