.user-form {
  width: 100%;
  background-color: var(--primary-bg);
  border: 2px solid var(--primary-color);
  border-radius: 18px;
  margin: 0 auto;
  position: relative;
  padding: 70px 15px 40px;
  @media screen and (min-width: 619px) {
    width: 579px;
    padding: 80px 40px 40px;
  }
  &.hidden {
    display: none;
  }
}

.user-form__close-button {
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: 20px;

  background-color: var(--primary-bg);
  border: none;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
}
.user-form__close-icon {
  stroke: var(--primary-color);
  fill: var(--primary-color);
  display: block;
  margin: 0;
  pointer-events: none;
}
.user-form__input-container {
  position: relative;
  margin-bottom: 20px;
  &:last-of-type {
    margin-bottom: 40px;
  }
}
.user-form__input-label {
  position: absolute;
  left: 40px;
  top: 21px;

  font-weight: 700;
  font-size: 18px;
  line-height: calc(24 / 18);
  letter-spacing: -0.01em;
  color: var(--primary-color);
  text-transform: uppercase;
  padding-left: 5px;
  padding-right: 5px;
  transition: transform 0.3s linear;
  pointer-events: none;
}
.user-form__input {
  padding: 20px 40px;
  border: 2px solid var(--primary-color);
  border-radius: 40px;
  display: block;
  width: 100%;
  background-color: var(--primary-bg);
  font-weight: 700;
  font-size: 18px;
  line-height: calc(24 / 18);
  letter-spacing: -0.01em;
  color: var(--primary-color);

  &::placeholder {
    text-transform: uppercase;
  }

  &:last-of-type {
    margin-bottom: 5px;
  }

  &:not(:placeholder-shown) + .user-form__input-label {
    background-color: var(--primary-bg);
    transform-origin: left;
    transform: scale(60%) translate(-20px, -52px);
  }
}
//-----start
.user-form__input-container:focus-within .user-form__input-label {
  background-color: var(--primary-bg);
  transform-origin: left;
  transform: scale(60%) translate(-20px, -52px);

  ///some changes
}
//--------end

.user-from__icon {
  position: absolute;
  right: 32px;
  top: 19px;
  //   transform: translateY(-50%);
  pointer-events: none;

  fill: var(--primary-bg);
  stroke: var(--primary-color);
}
.user-form__submit-button {
  cursor: pointer;
  display: block;
  background-color: var(--primary-color);
  width: 100%;
  color: var(--form-button-color);
  padding: 20px;
  border-radius: 40px;

  font-weight: 700;
  font-size: 18px;
  line-height: calc(24 / 18);

  letter-spacing: -0.01em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.user-form__sign-up-button {
}
.user-form__sign-in-button {
}

.user-form__form-type-switch {
}
.form-type-switch {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 0;
  margin: 0;
  justify-content: center;
}
.form-type-switch__item {
}
.form-type-switch__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(24 / 18);

  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--pop-up-info-text);

  &.active {
    color: #4f2ee8;
    text-decoration: underline;
  }
}

.just-validate-error-label {
  padding-left: 18px;
  display: flex;
  gap: 10px;
  // margin-top: 5px;
}

.password-bar-container {
  position: relative;
  margin-top: 0px;
}

.password-message {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(24 / 18);

  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--pop-up-info-text);
}

.password-bar {
  height: 30px;
  border-radius: 20px;
  border: 2px solid var(--primary-color);

  &.very-weak {
    background: linear-gradient(to right, red 25%, gray 25%);
  }
  &.weak {
    background: linear-gradient(to right, rgb(166, 108, 32) 50%, gray 50%);
  }
  &.medium {
    background: linear-gradient(to right, rgb(119, 197, 30) 75%, gray 75%);
  }
  &.strong {
    background: green;
  }
}
