.paginator-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  @media screen and (max-width: 380px) {
    gap: 5px;
  }
}

.tui-prev {
  margin-right: 14px;
  @media screen and (max-width: 380px) {
    margin-right: 0;
  }
  .tui-ico-prev {
    background-color: #000000;
    width: 24px;
    height: 24px;

    -webkit-mask-image: url('./../images/angle-left.svg');
    mask-image: url('./../images/angle-left.svg');
  }

  &.tui-is-disabled {
    .tui-ico-prev {
      background-color: #b4afaf;
    }
  }
}
.tui-next {
  margin-left: 14px;
  @media screen and (max-width: 380px) {
    margin-left: 0;
  }
  .tui-ico-next {
    background-color: #000000;
    width: 24px;
    height: 24px;

    -webkit-mask-image: url('./../images/angle-right.svg');
    mask-image: url('./../images/angle-right.svg');
  }
  &.tui-is-disabled {
    .tui-ico-next {
      background-color: #b4afaf;
    }
  }
}
.tui-first {
  .tui-ico-first {
    background-color: #000000;
    width: 31px;
    height: 24px;

    -webkit-mask-image: url('./../images/double-angle-left.svg');
    mask-image: url('./../images/double-angle-left.svg');
  }

  &.tui-is-disabled {
    .tui-ico-first {
      background-color: #b4afaf;
    }
  }
}
.tui-last {
  .tui-ico-last {
    background-color: #000000;
    width: 31px;
    height: 24px;

    -webkit-mask-image: url('./../images/double-angle-right.svg');
    mask-image: url('./../images/double-angle-right.svg');
  }
  &.tui-is-disabled {
    .tui-ico-last {
      background-color: #b4afaf;
    }
  }
}
.tui-next-is-ellip,
.tui-prev-is-ellip {
  @media screen and (max-width: $tablet) {
    display: none !important;
  }
}

.tui-page-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;

  border: 1px solid var(--primary-color);
  border-radius: 50%;
  background-color: transparent;

  @media screen and (min-width: $mobile) {
    width: 38px;
    height: 38px;
  }

  @media screen and (min-width: $tablet) {
    width: 44px;
    height: 44px;
  }
}

.tui-is-selected {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.tui-first,
.tui-prev,
.tui-next,
.tui-last {
  color: var(--default-secondary-color);
  background-color: var(--secondary-akzent);
  border-color: var(--default-secondary-color);
}

.tui-is-disabled.tui-first,
.tui-is-disabled.tui-last,
.tui-is-disabled.tui-next,
.tui-is-disabled.tui-prev {
  color: var(--default-primary-color);
  background-color: var(--default-secondary-color);
}
