.card.is-hidden {
  display: none;
}

.card {
  position: relative;

  display: flex;
  gap: 14px;

  padding: 14px;

  background-color: var(--secondary-bg);

  border: 2px solid var(--primary-akzent-rgba);
  border-radius: 16px;

  @media screen and (min-width: $tablet) {
    padding: 24px;
  }
}

.card__delete-btn {
  position: absolute;
  top: 14px;
  right: 14px;

  border-radius: 50%;

  cursor: pointer;

  @media screen and (min-width: $tablet) {
    top: 24px;
    right: 24px;
  }
}

.delete-btn__icon {
  width: 28px;
  height: 28px;
  pointer-events: none;

  @media screen and (min-width: $desktop) {
    top: 34px;
    right: 34px;
  }
}

.card__img-thumb {
  width: 100px;
  height: 142px;

  overflow: hidden;

  border-radius: 8px;

  @media screen and (min-width: $tablet) {
    width: 116px;
    height: 165px;
  }
}

.card__img {
  object-fit: cover;
}

.card__descr {
  display: flex;
  flex-direction: column;

  flex-grow: 1;
}

.card__title {
  margin-bottom: 4px;

  font-size: 15px;
  line-height: 1.12;

  letter-spacing: -0.04em;
  text-transform: uppercase;

  max-width: calc(100% - 40px);

  @media screen and (min-width: 335px) {
    font-size: 16px;
  }
}

.card__subtitle {
  margin-bottom: 8px;

  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.03em;
  max-width: calc(100% - 40px);

  color: var(--text-secondary-light);
}

.card__text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 14px;

  max-width: 193px;

  overflow: hidden;
  text-overflow: ellipsis;

  letter-spacing: -0.04em;

  @media screen and (min-width: $tablet) {
    max-width: 508px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 808px;
  }
}

.author {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: auto;

  font-style: italic;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: -0.04em;

  color: var(--text-secondary-light);

  @media screen and (min-width: $tablet) {
    align-items: baseline;
  }
}

.shops {
  display: flex;
  align-items: baseline;
  gap: 4px;

  mix-blend-mode: luminosity;

  @media screen and (min-width: 335px) {
    gap: 8px;
  }

  @media screen and (min-width: $tablet) {
    align-items: center;
    gap: 16px;
  }
}

.shop__item {
  width: 16px;
  height: 16px;

  cursor: pointer;

  transition: filter var(--time) var(--cubic);

  &--amazon {
    width: 32px;
    height: 11px;
  }

  html.dark &--amazon {
    filter: invert(1);
  }

  &:hover,
  &:focus {
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15));
  }

  @media screen and (min-width: $tablet) {
    &--amazon {
      width: 48px;
      height: 15px;
    }

    &--book {
      width: 28px;
      height: 27px;
    }

    &--bookshop {
      width: 32px;
      height: 30px;
    }
  }
}
