.book-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.4);
  z-index: 10;
  left: 0;
  top: 0;
  opacity: 1;
  transition: opacity var(--time) var(--cubic);
  padding-left: 20px;
  padding-right: 20px;
  pointer-events: all;

  @media screen and (min-width: $tablet) {
    max-width: $tablet;
    padding-left: 95px;
    padding-right: 95px;
  }

  // margin: 0 auto;
  // overflow-y: auto;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}



//   max-width: $mobile;
//   margin: 0 auto;
//   // height: 100%;
//   height: 800px;
//   padding-left: 20px;
//   padding-right: 20px;
//   overflow-y: auto;

//   background-color: rgba(0, 0, 0, 0.2);
//   // border: 1px solid $logo-color;
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
//   opacity: 1;

//   @media screen and (min-width: $tablet) {
//     max-width: $tablet;
//     padding-left: 95px;
//     padding-right: 95px;
//   }
//   // transition: opacity 250ms $transition-values;

//   // &.is-hidden {
//   //  opacity: 0;
//   //  pointer-events: none;
//   // }

//   // &.is-hidden .modal {
//   //  transform: translate(-50%, -50%) scale(0.8);
//   // }
// }

.book-modal {
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 24px;
  max-width: 335px;

  // width: calc(100% - 30px);
  // overflow-y: auto;
  background-color: var(--secondary-bg);
  // background-color: white;
  border: 1px solid var(--logo-color);
  // border: 1px solid black;
  border-radius: 5px;

  @media screen and (min-width: $tablet) {
    max-width: 579px;
  }
}

.book__card {
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.book__box {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column;
  }
}

.modal__close {
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
  background-color: var(--secondary-bg);
  border: none;
  padding: 0;
}

.modal__close-icon {
  stroke: var(--primary-color);
}

.thumb {
  width: 287px;
  height: 387px;
  margin-bottom: 14px;
  outline: 1px solid green;
}

.image {
  width: 100%;
}

.book__name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  /* identical to box height, or 112% */

  letter-spacing: -0.04em;
  // color: var(--primary-color);
  color: #111111;
}

.book__author {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.04em;

  color: #b4afaf;
  margin-bottom: 18px;
}

.book__description {
  line-height: 1.29;
  letter-spacing: -0.04em;

  color: #111111;
}

.book__sales--link-list {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
}

.book__add-remove {
  font-weight: 700;
  line-height: 1.286;
  letter-spacing: -0.01em;
  text-transform: uppercase;

  color: #111111;
  padding: 14px 28px;
  border: 2px solid #4f2ee8;
  border-radius: 40px;

  margin: auto;
  display: flex;
  margin-bottom: 4px;
}

.greetings {
  font-size: 10px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.04em;
  color: rgba(17, 17, 17, 0.5);
  max-width: 240px;
  margin: auto;
}

// .light {
//  --primary-bg: #f6f6f6;
//  --secondary-bg: #ffffff;

//  --primary-color: #111111;
//  --secondary-color: #ffffff;

//  --logo-color: #000000;

//  --list-category-accent-text: #4f2ee8;
//  --list-category-text: rgba(17, 17, 17, 0.6);

//  --scroll: #e0e0e0;

//  --shopping-list-text: rgba(0, 0, 0, 0.6);

//  --pop-up-info-text: rgba(17, 17, 17, 0.5);
// }