.support {
  width: 335px;
  height: 352px;
  border-radius: 16px;
  background: var(--switcher-bg-light);

  @media screen and (min-width: $tablet) {
    height: 472px;
  }

  @media screen and (min-width: $desktop) {
    width: 356px;
    height: 490px;
  }
}

.support__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.04em;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 12px;
  padding-top: 24px;
  min-width: 0;
}

.support__slide--icon {
  width: 20px;
  height: 32px;
}

.swiper {
  z-index: 1;
  margin-left: 0;
  margin-right: 0;
  list-style: none;
  display: block;
  position: relative;
  top: 40px;
  left: -20px;
  display: flex;
  overflow: hidden;
  justify-content: flex-start;
  align-items: center;
}
.swiper-container {
  width: 100%;
  height: 156px;
  @media screen and (min-width: $tablet) {
    height: 292px;
  }
}

.swiper-button {
  position: relative;
  right: 20px;
  top: 80px;
  width: 38px;
  height: 38px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
}
.support__button--icon {
  width: 22px;
  height: 22px;
}
.swiper-slide {
  margin-top: 20px;
  height: 33.3%;
  display: flex;
  max-height: 32px;
  @media screen and (min-width: $tablet) {
    height: 16.66%;
  }
}
.support__founds--style {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}
.support__founds--icon {
  padding-left: 16px;
}
